/* @import "tailwindcss"; */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}


.input {
    position: relative;
    margin-bottom: 10px;
  }
  
  .input label {
    position: absolute;
    top: -10px;
    background-color: white;
    left: 3px;
    color: rgba(108, 37, 225, 0.8);
    padding: 0 7px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .input input, .input select,
  .input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
  }
  
  input:focus, select:focus, textarea:focus {
    border: 1px solid rgba(108, 37, 225, 0.8);
    outline: none;
  }